Flask==3.0.3
flask-cors==4.0.0
flask-jwt-extended==4.4.4
Flask-SQLAlchemy==3.0.3
SQLAlchemy==2.0.43
psycopg2-binary==2.9.6
ytmusicapi==1.7.3
requests==2.32.3
python-dotenv==1.0.0
gunicorn==22.0.0
flask-limiter==3.7.0
redis==4.5.5
Flask-Migrate==4.0.4
